*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}

/* navbar area started  */
.dark{
    background-color: black;
}

.main-cont{
    display: flex;
    justify-content: space-around;
}
.main-header{
    text-align: center;
    margin-top: 40px;
    width: 100%;
}
#menu-icon{
    display: none;
}
.logo{
    width: 150px;
}

.anchor-nav{
    text-decoration: none;
    font-size: 20px;
    padding-left: 17px;
    padding-right: 17px;
}
.anchor-nav:hover{
    color: red;
}
.nav-div{
    margin-top: 8px;
}


.button-1{
    border: 2px solid white;
    padding: 18px;
    border-radius: 35px;
    background-color: transparent;
}

.button-2{
    border: 2px solid transparent;
    padding: 15px;
    border-radius: 50px;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
}
#arrow-icon{
    border: 1px solid transparent;
    padding: 7px;
    color: red;
    margin-left: 2px;
    border-radius: 50px;
    background-color: white;
}

@media screen and (max-width:1100px){

    .main-cont{
        display: flex;
        justify-content: space-between;
        
    }
    .anchor-nav{
        display: none;
    }
    .button-1{
        display: none;
    }
    #menu-icon{
        display: block;
        font-size: 45px;
        margin-top: 13px;
        padding-left: 10px;
    }
  
    .logo-main{
        margin-left: 70px;
    }
}

/* navbar area ended  */

/* first image area started */
.first-img{
    margin-top: 10px;
}
.img-1{
    width: 100%;
}
.img-2{
    display: none;
}

@media screen and (max-width:1000px){
    .img-2{
        display:block;
    }
    .img-1{
        display: none;
        width: 60%;
    }

}

@media screen and (max-width:1000px){
    .main-cont{
        display: flex;
        justify-content: space-evenly;
        width: 150%;
    }
   
}

/* first image area ended*/

/* welcome to salt and pepper area started */


/* welcome to salt and pepper area ended */
